<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <%- include('layout'); -%>
  <!-- Page Content -->
  <div class="container">
  
    <div class="row">
      <%- include('sidebar'); -%>
  
      <div class="col-lg-9">
  
        <div class="row my-4">
          <% products.forEach(function(product){ %>
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="<%= product.img %>" alt="" width="450" height="200"></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#"><%= product.name %></a>
                </h4>
                <h5>฿<%= product.price %></h5>
                <p class="card-text"><%= product.description %>
                </p>
              </div>
              <div class="card-footer">
                <a href="#" class="btn btn-success">เพิ่มลงตะกร้าสินค้า</a>
              </div>
            </div>
          </div>
          <% }) %>
        </div>
        <!-- /.row -->
  
      </div>
      <!-- /.col-lg-9 -->
  
    </div>
    <!-- /.row -->
  
  </div>
  <!-- /.container -->
  
  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Mint Mintra 2022</p>
    </div>
    <!-- /.container -->
  </footer>
</body>
</html>