<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Page Content -->
    <%- include('layout'); -%>
    <div class="container">
    
        <div class="row">
            <%- include('sidebar'); -%>
            <!-- /.col-lg-3 -->
    
            <div class="col-lg-9">
                <% products.forEach(function(product){ %>
                <div class="card mt-4">
                    <img src="<%= product.img %>" alt="" width="300px" height="250px">
                    <div class="card-body">
                        <h3 class="card-title">ชื่อสินค้า : <%= product.name %></h3>
                        <h4>ราคา : ฿<%= formatMoney(product.price) %></h4>
                        <p class="card-text"><%= product.description %></p>
                            <button type="button" name="button" class="btn btn-success">เพิ่มลงตะกร้า</button>
                    </div>
                </div>
                <% }) %>
    
            </div>
            <!-- /.col-lg-9 -->
    
        </div>
    
    </div>
    <!-- /.container -->
    
    <!-- Footer -->
    <footer class="py-5 bg-dark mt-4">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Mint Mintra 2022</p>
        </div>
        <!-- /.container -->
    </footer>
</body>
</html>